[Unit]
Description=LaunchDarkly New Relic integration simulation

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ld-apm-simulation
ExecStart=/bin/bash -c 'cd /home/ubuntu/ld-apm-simulation/ && \
                            source venv/bin/activate && \
                            NEW_RELIC_CONFIG_FILE=newrelic.ini newrelic-admin run-program python3 app.py'

[Install]
WantedBy=multi-user.target